In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter ("ignore")

In [2]:
df = pd. read_csv("C:\\Users\\PRAVEEN\\Downloads\\Dataset\\user_data.csv")
df

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325
2,user_2268,226,203,-8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498
...,...,...,...,...,...,...,...,...,...,...,...
3566,user_2685,161,120,0,Bangladesh,42,1505409069,306.193,246.560,beginner,1455055521
3567,user_1548,41,30,0,NaN,0,1504026868,331.135,218.463,beginner,1465142933
3568,user_1929,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231
3569,user_2772,148,137,0,NaN,2,1496606504,409.977,345.757,intermediate,1480262887
3570,user_2179,163,115,6,South Korea,40,1502074467,392.775,288.704,beginner,1455975499

In [3]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   user_id                    3571 non-null   object
 1   submission_count           3571 non-null   int64
 2   problem_solved             3571 non-null   int64
 3   contribution               3571 non-null   int64
 4   country                    2418 non-null   object
 5   follower_count             3571 non-null   int64
 6   last_online_time_seconds   3571 non-null   int64
 7   max_rating                 3571 non-null   float64
 8   rating                     3571 non-null   float64
 9   rank                       3571 non-null   object
 10  registration_time_seconds  3571 non-null   int64
dtypes: float64(2), int64(6), object(3)
memory usage: 307.0+ KB

In [4]:
df. describe ()

,submission_count,problem_solved,contribution,follower_count,last_online_time_seconds,max_rating,rating,registration_time_seconds
count,3571.000000,3571.000000,3571.000000,3571.000000,3.571000e+03,3571.000000,3571.000000,3.571000e+03
mean,299.481098,267.894427,4.102492,46.690563,1.502680e+09,390.374392,350.165578,1.434961e+09
std,366.102887,344.139688,16.552256,211.494638,5.114850e+06,92.428788,106.592503,4.750758e+07
min,1.000000,0.000000,-64.000000,0.000000,1.484237e+09,303.899000,0.000000,1.264761e+09
25%,66.500000,53.000000,0.000000,4.000000,1.502691e+09,317.661000,279.243000,1.416323e+09
50%,169.000000,146.000000,0.000000,13.000000,1.505054e+09,355.791000,329.702000,1.449085e+09
75%,390.000000,349.000000,0.000000,40.000000,1.505551e+09,444.954000,413.417500,1.470379e+09
max,4570.000000,4476.000000,171.000000,10575.000000,1.505595e+09,983.085000,911.124000,1.484236e+09

In [5]:
df. isnull (). sum ()

user_id                         0
submission_count                0
problem_solved                  0
contribution                    0
country                      1153
follower_count                  0
last_online_time_seconds        0
max_rating                      0
rating                          0
rank                            0
registration_time_seconds       0
dtype: int64